html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
header{
	text-align: right;
	height: 10%;
	width: 100%;
	padding-top: 10px;
}
#head_left{
	height: 30px;
	margin: 10px;
	float: rght;
	display: block;
}
#button_log{
	color: white;
	font-weight: bold;
	background-color: #4285f4;
	border: none;
	height: 30px;
	width: 93px;
	font-size: 13px;
	padding-top: 3px;
}
a{
	padding-right: 8px;
	color: #666;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #777;
}
#logo{
	clear: both;
	width: 100%;
	height: 30%;
	text-align: center;
	padding-top: 50px;
}
#obsluga{
	width: 100%;
	height: 48%; /*100-10(naglowek)-30(logo)-12(stopka) */
	text-align: center;
}
#search_panel{
	margin: auto;
	width: 584px;
	height: 44px;
	border: 1px solid gray;
}
.buttons_style{
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #666;
	padding: 10px;
	margin-right: 1%;
	font-family: arial;
	font-weight: 700;
}
.buttons_style:hover{
	border: 1px solid gray;
	color: black;
}
footer{
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 12%;
	color: #666;
	font-size: 15px;
	background-color: rgb(242,242,242);
		border-top: 2px solid #e4e4e4;

}
.fotter2{
	width: 100%;
	height: 100%;
	border-top: 2px solid #e4e4e4;
	margin-top: -10px;
}
.footer_left{
	display: inline;
	float: left;
	padding: 10px 0 12px 27px;
}
.footer_right{
	display: inline;
	float: right;
	padding: 10px 27px 12px 0px;
}